@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button */
.btn-disabled {
  @apply opacity-50 cursor-not-allowed;
}
.btn-blue {
  @apply bg-gradient-to-r from-cyan-500 to-blue-500 text-white rounded h-[3rem] uppercase text-sm;
}

/* End Button */

/* Input */
.input {
  @apply rounded px-[1rem] h-[2.5rem] bg-[#2b2b31] outline-none text-white focus:border focus:border-cyan-500;
}

/* End Input */

/* Animate */
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animate__fadeInRight {
  animation-name: fadeInRight;
  transform: translateX(100%);
}

@keyframes fadeInRight {
  100% {
    transform: translateX(0%);
  }
}

.animate__fadeInLeft {
  animation-name: fadeInLeft;
  transform: translateX(0%);
}

@keyframes fadeInLeft {
  100% {
    transform: translateX(100%);
  }
}

.animate__fadeIn {
  animation-name: fadeIn;
  opacity: 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.animate__fadeOut {
  animation-name: fadeOut;
  opacity: 1;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
/* End Animate */
